html, body {
    height: 100%;
    cursor: url('../images/up.png'), auto;
;
}
.vc-header {
    background-color: none;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
.vc-header li {
    list-style-type: none;
}
.vc-page {
    margin-top: 100px;
}
#vc-bg {
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.vc-1, .vc-2 p {
    padding: 15px;
}

.vc-1 div {
    margin-bottom: 100%;
}
.vc-2 img {
    max-width: 100%;
}
.vc-1 img {
    max-width: 1000px;
}
@media screen and (min-width: 768px) {
    .container, .main {
        height: 100%;
        overflow: hidden;
        margin-top: -2px;
    }
    #vc-contact {
        position: absolute;
        margin: 10px;
        z-index: 2000;
        display: none;
    }
    .vc-1, .vc-2 {
        height: 100%;
        min-height: 100%;
        overflow: hidden;
        position: relative;
    }
    .vc-1 .main img:first-child {
        margin-top: 40%;
    }
    .vc-2 .main img:first-child {
        margin-top: 50%;
    }
    .vc-1 .main, .vc-2 .main {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        overflow-y: auto;
    }
}
@media screen and (max-width: 767px) {
    .vc-header-container {
        text-align: center;
    }
    .vc-header {
        width: 50%;
        margin-left: -25%;
    }
    #vc-contact {
        display: block;
    }
}